<!DOCTYPE html>

<html>
  <header>
    <title>About</title>
    <h4>{{>header}}</h4>
  </header>
  <body>
    <div class="main-content">
        <h1>{{title}}</h1>
        <p>All is well! Hello peeps i love you all! I hope you're all doing well!</p>
        <img class="portrait" src="/img/received_690264125177721.jpeg" alt="" />
    </div>
        {{>footer}}
  </body>
</html>
