<html>
    <header>
        <title>Error</title>
        {{>header}}
    </header>
    <body>
        <div class="main-content">
            <center><h1>{{errorMessage}}</h1></center>
        </div>
            {{>footer}}
    </body>
</html>
