<!DOCTYPE html>

<html>
  <header>
    <title>help</title>
    <h4>{{>header}}</h4>
  </header>
  <body>
    <div class="main-content">
        <h1>{{title}}!</h1>
        <p>You need some help? I'm {{name}} and i will help you!</p>
    </div>
        {{>footer}}
  </body>
</html>
