<!DOCTYPE html>

<html>
  <header>
    <title>Weather</title>
    <link rel="icon" href="/web-server/public/img/weather.png">
    <h4>{{>header}}</h4>
  </header>
  <body>
    <div class="main-content">
        <h1>{{title}}</h1>
        <h4>Use this to get your weather!</h4>

        <form>
          <input placeholder="Location">
          <button>Search</button>
        </form>

        <p id="message-1" ></p>
        <p id="message-2" ></p>
    </div>
      
      {{>footer}}
      
      <script src="/js/app.js"></script>
  </body>
</html>
